@import url('https://fonts.bunny.net/css?family=roboto');

@import '_custom';

@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
$theme-colors: map-merge((
    "pink": $pink,
    "darkBlue": $blue-500,
    'teal': $teal
),$theme-colors);

$font-sizes: map-merge((
    7: 11px
), $font-sizes);

@import '~bootstrap/scss/bootstrap';
@import '~date-picker/dist/css/bootstrap-datepicker.css';
@import '~datatable/css/dataTables.bootstrap5.min.css';

// Remove border on focused inputs
.form-control {
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

.nav-link.actives{
    background-color: $white;
    color: $dark !important;
}

.box {
    height: 100px;
}

#err-msg {
    font-size: small;
}

// SCSS
tr{
    cursor:  pointer !important;
}
.custom-input{
    width: 90px !important;
}
.box2{
    height: 100%;
}

.img{
    max-width: 100%;
    height: auto;
    display: block;
}

.input-group-prepend .input-group-text {
    border-radius: 0;
  }

  .input-group-prepend .input-group-text i {
    margin-top: 4px;
}


